
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select2
@import '~select2/dist/css/select2';

@import "~toastr/toastr";
@import "~vue-toastr/src/vue-toastr";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.delete-model-form{
  display: inline-block;
  color: #3490dc;
  cursor: pointer;
  &:hover{
    color: #1d68a7;
  }
}

#answer{
  .badge{
    cursor: pointer;
    font-size: 2.25rem;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 4px;
    margin: 0 4px;
    min-width: 35px;
    &.selected{
      border: 3px solid $orange;
    }
  }
  .badge-space{
    display: inline-block;
  }
}

#possible-answer{
  .badge{
    font-size: 2.25rem;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 4px;
    cursor: pointer;
    margin: 0 4px;
    min-width: 35px;
  }
}