<template>
    <div class="row justify-content-center">
        <div v-if="!exercise_done" class="col-md-12">
            <div class="progress">
                <div class="progress-bar" role="progressbar" :style="{width:progressWidth+'%'}" :aria-valuenow="order" aria-valuemin="0" :aria-valuemax="question_count"></div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <p>Question :</p>
                    <div v-html="question.question"></div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <p>Réponse :</p>
                    <div id="answer">
                        <span 
                            @click="selectSpan"
                            class="badge badge-secondary"
                            v-for="(element, i) in question.correct_answer" :key="i"
                            :class="element.inserted ? 'disabled' : '' "
                            :data-answer="element.inserted ? element.el : '_'"
                            :data-init="element.inserted ? element.el : '_'"
                        >{{ element.inserted ? element.el : '_' }}</span>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <p>Eléments de réponse :</p>
                    <div id="possible-answer">
                        <span 
                            @click="setAnswer"
                            class="badge badge-secondary"
                            v-for="(element, i) in question.possible_answer" :key="i"
                            :data-answer="element"
                        >{{ element }}</span>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <span class="float-left">
                        <h2>Score : {{score}}</h2>
                    </span>
                    <span class="float-right">
                        <button id="init" class="btn btn-info" @click="resetElements">Réinitialiser</button>
                        <button id="correct" class="btn btn-success" @click="corriger">Corriger</button>
                    </span>
                </div>
            </div>
        </div>

        <div v-else class="col-md-12">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Bravo!</h5>
                    <p class="card-text">Votre score est de {{score}} points.</p>
                    <a :href="'/level/'+level_id" class="btn btn-primary">Retour au menu principal</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                exercise_done: false,
                order: 1,
                score: 0,
                question_count: 1,

                question: {},
                correct_answer: '',
                given_answer: ''
            }
        },
        props: [
            'exercise_id',
            'level_id'
        ],
        computed: {
            progressWidth() {return (this.order * 100)/this.question_count}
        },
        created() {
            this.getQuestionCount()
            this.loadElements()
        },
        mounted() {

        },
        updated() {
            this.selectFirst()
        },
        methods: {
            getQuestionCount() {
                axios.get('/api/exercise/'+this.exercise_id+'/questionCount')
                    .then((response) => {
                        this.question_count = response.data
                    })
            },
            loadElements() {
                axios.get('/api/exercise/'+this.exercise_id+'/order/'+this.order)
                    .then((response) => {
                        if(Object.entries(response.data).length === 0 && response.data.constructor === Object){
                            this.exercise_done = true
                        }else{
                            this.question = response.data

                            for (let i = 0; i < this.question.correct_answer.length; i++) {
                                this.correct_answer += this.question.correct_answer[i].el
                            }

                        }
                    })
            },
            resetElements(){
                const badges = document.querySelectorAll('#answer .badge:not(.disabled)')
                let init = ''
                for (let i = 0; i < badges.length; i++) {
                    init = badges[i].dataset.init
                    badges[i].dataset.answer = init
                    badges[i].innerHTML = init
                }
                this.selectFirst()
            },
            selectFirst() {
                this.removeSelect()
                document.querySelector('#answer .badge:not(.disabled)').classList.add('selected')
            },
            removeSelect(){
                const badges = document.querySelectorAll('#answer .badge')
                for (let i = 0; i < badges.length; i++) {
                    badges[i].classList.remove('selected')
                }
            },
            selectSpan(e) {
                if(!e.target.classList.contains('disabled')){
                    this.removeSelect()
                    e.target.classList.add('selected')
                }                
            },
            setAnswer(e) {
                const answer = e.target.dataset.answer
                const answerSlot = document.querySelector('#answer .badge.selected')
                answerSlot.dataset.answer = answer
                answerSlot.innerHTML = answer
                this.removeSelect()
                let found = false
                let nextAnswerSpot = answerSlot
                while(!found){
                    nextAnswerSpot = nextAnswerSpot.nextSibling
                    if(!nextAnswerSpot || (nextAnswerSpot && !nextAnswerSpot.classList.contains('disabled'))){
                        found = true
                    }
                }
                if(nextAnswerSpot){
                    nextAnswerSpot.classList.add('selected')
                }
            },
            corriger() {
                let given_answer_el = document.querySelectorAll('#answer .badge')
                let given_answer = ''
                for (let i = 0; i < given_answer_el.length; i++) {
                    given_answer += given_answer_el[i].dataset.answer
                }
                if(this.correct_answer === given_answer){
                    this.$toastr.s('Bonne réponse!');
                    this.score++
                    this.order++

                    this.resetData()

                    this.loadElements()
                }else{
                    this.$toastr.e('Oops! Réponse incorrecte!')
                }
            },
            resetData() {
                this.question = {},
                this.correct_answer = '',
                this.given_answer = ''
            }
        }
    }
</script>
